.product_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: #f2f2f7;
}

.product_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}