.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34 !important;
}

.yessi_picture {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.image_list_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image_list_wrapper img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 20px;
    margin: 0 !important;
    padding: 0 !important;
  }
}
