.product_list_container {
  /* justify-content: center;
   align-items: center;  */
  /* flex-direction: column; */
  min-height: 100vh;
  background: #f2f2f7;
  padding: 20px;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 30px;
  /* justify-content: center; */
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 410px) {
  .product_list_container {
    background-color: purple;
  }
}
