body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
 
  width: 30vw;
  /* Calculated height excluding the header */
  height: 100vh;
  /* Align the modal to the top */
  top: 0;
  /* Move the modal to the far right */
  right: 0;
  /* Fix the position of the modal */
  position: fixed;
  /* Add a background color for distinction */
  background-color: white;
  /* Add shadow for a subtle depth */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  /* Ensure it's above other content */
  z-index: 1000;
  /* Enable scrolling for content overflow */
  overflow-y: auto;
  /* Optional border for separation */
  border-left: 1px solid #ccc;
}

/* Overlay styles */
.overlay {
  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.5);
  /* Ensure overlay covers the full width */
  width: 40vw;
  /* Ensure overlay covers the full height */
  height: 100vh;
  /* Make sure the overlay is behind the modal */
  z-index: 999;
}

.modal_content {
  /* Align content to the top right */
  position: relative;
  top: 0;
  right: 0;
  /* Remove horizontal translation */
  transform: none;
  /* Set line-height */
  line-height: 1.4;
  /* Background color */

  padding: 14px 28px;
  /* Border radius for rounded corners */
  border-radius: 3px;
  /* Max width constraint */
  max-width: 600px;
  /* Min width constraint */
  min-width: 300px;
}

.close_modal {
  /* Position the close button */
  position: absolute;
  top: 10px;
  right: 10px;
  /* Padding for the close button */
  padding: 5px 7px;
}

.cart_container {
  /* Flexbox layout for cart container */
  display: flex;
  flex-direction: column;
  /* Space items between */
  justify-content: space-between;
  /* Full viewport height minus header */
  height: calc(100vh - 75px);
}

.list_container {
  /* Flexbox layout */
  display: flex;
  /* Arrange items in a column */
  flex-direction: column;
}

.product_container {
  flex-wrap: wrap;
  margin: 12px 0;
  display: flex;
  /* Background color */
  background: white;
  /* Center items vertically */
  align-items: center;

  padding: 20px;
  /* Border styling */
  border: 1px solid #000;
  /* Rounded corners */
  border-radius: 7px;
  /* Box shadow for depth */
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.product_container img {
  /* Max width for product images */
  max-width: 15vw;
}

.product_information_container {
  /* Set text color */
  color: black !important;
  /* Set height */
  height: 20vh;
  /* Flexbox layout */
  display: flex;
  /* Arrange items in a column */
  flex-direction: column;
  /* Align items to the start */
  align-items: flex-start;
  /* Padding from the left */
  padding-left: 15px;
}

.product_information_container h4 {
  /* Remove margin */
  margin: 0 0 7px 0;
  /* Remove padding */
  padding: 0;
}

.product_information_container p {
  /* Margin for paragraphs */
  margin: 7px 0 7px 0;
  /* Remove padding */
  padding: 0;
}

.cart_summary_container {
  /* Flexbox layout for summary */
  display: flex;
  /* Arrange items in a column */
  flex-direction: column;
  /* Full height of the container */
  height: 100%;
  /* Set text color */
  color: black !important;
  /* Fixed position to the right */
  right: 0px;
  /* Set height */
  /* Background color */
  background: white;
  padding: 40px 20px 20px 20px;
  /* Border styling */
  border: 1px solid #000;
  /* Rounded corners */
  border-radius: 7px;
  /* Box shadow for depth */
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .cart_container {
    /* Flexbox layout */
    display: flex;
    /* Arrange items in a column */
    flex-direction: column;
    /* Center items */
    align-items: center;
  }

  .cart_summary_container {
    /* Remove fixed position */
    position: static;
    /* Set width */
    width: 80%;
  }

  .cart_summary_container button {
    /* Margin at the bottom for buttons */
    margin-bottom: 20px;
  }

  .list_container {
    /* Center items */
    align-items: center;
    /* Set width */
    width: 80%;
    /* Remove padding */
    padding: 0;
  }

  .product_container {
    /* Full width of container */
    width: 100%;
  }
}
